*{
    font-family: 'Roboto', sans-serif;
}

.bg-color-header {
    background: rgb(255, 106, 6);
}

.navbar-brand {
    width: 60px;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 5rem;
}

.card-body {
    background-color: rgb(255, 106, 0);
    color: rgb(65, 59, 55);
}

